* {
  --brand: #66327c;
  --accent: #e03c8a;

  --gray: #787878;
  --light-gray: #eaeaea;
  --black: #1c1c1c;
  --white: #fffffb;
}
h2 {
  color: var(--brand);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
